@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.Header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.Header-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Header-title span {
  color: #eb5757;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
